[submodule "cmake"]
	path = cmake
	url = https://github.com/DRKblade/cmake_module
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/strings"]
	path = lib/strings
	url = git@github.com:quandangv/strings
